* {
  margin: 0;
  padding: 0;
  font-family: "OpenSansRegular";
}

h1 {
  font-family: "OpenSansBold";
}

h2 {
  font-family: "RobotoBold";
}

p {
  font-family: "OpenSansRegular";
}

body {
  background: url("../img/bg1.jpg") no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.header-title {
  margin-bottom: 50px;
  margin-top: 20px;
}
.header-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-description {
  padding-top: 20px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-main {
  display: block;
  position: relative;
  border: 2px solid #AEAEAE;
  z-index: 12;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.weather-main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action-description {
  margin-left: 50px;
}
.action-description .desc img {
  width: 20px;
  height: 20px;
}

.action-description, .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-main-top {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.weather-main-top .country {
  margin-right: 170px;
}

.weather-main::before {
  content: "";
  background: #C4C4C4;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.day::before {
  content: "";
  background: #C4C4C4;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.day-temp {
  font-size: 24px;
}
.day-temp span {
  font-weight: 800;
}
.day-temp p:nth-child(1) {
  padding-bottom: 10px;
}

.day {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 3333;
  line-height: 5px;
  border: 2px solid #AEAEAE;
  text-align: center;
  margin: 0 auto;
  margin-right: 15px;
  width: 300px;
  height: 200px;
}
.day img {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
.day h2 {
  margin-top: 7%;
}

.weather-main-morning p {
  font-weight: 800;
  font-size: 24px;
}

.weather-by-days {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.now-time, .country {
  line-height: 3px;
}

.action-description {
  line-height: 10px;
}
.action-description p {
  font-size: 24px;
  font-weight: 800;
}

.time, .month-number {
  font-size: 24px;
}

.adv {
  width: 100%;
  font-size: 50px;
  font-family: "RobotoItalic";
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  body {
    background-size: 200%;
  }

  .weather-by-days {
    width: 100%;
    max-width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-size: 300%;
  }

  .weather-by-days {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .day {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  body {
    background-size: 500%;
  }

  .container {
    min-width: 100%;
  }

  .weather-by-days {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  body {
    background-size: 600%;
  }

  .weather-by-days {
    width: 100%;
  }
  .weather-by-days .day {
    width: 90%;
  }
  .weather-by-days .day p {
    font-size: 20px;
  }
  .weather-by-days .day h2 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 660px) {
  body {
    background-size: 700%;
  }

  .weather-main {
    width: 97%;
    margin: 0 auto;
  }

  .adv {
    margin-top: 30px;
    font-size: 25px;
  }
}
@media screen and (max-width: 420px) {
  .weather-main-top .country {
    margin-right: 70px;
  }

  .weather-main-bottom {
    margin: 0 auto;
  }
}